[Unit]
Description=Connect-IP SCION Client Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/connect-ip-rust-scion client --config /etc/cirs/client-config.json
Restart=always
RestartSec=1
User=root
Group=root
StandardOutput=journal
StandardError=journal
